.vagrant
Berksfile.lock
*~
*#
.#*
\#*#
.*.sw[a-z]
*.un~

# Bundler
Gemfile.lock
bin/*
.bundle/*

.kitchen/
.kitchen.local.yml

.chef/
berks-cookbooks/
cookbooks/
nodes/
provisioning/chef-server/clients/
provisioning/chef-server/cookbooks/
provisioning/chef-server/nodes/
provisioning/vms/nodes/
